apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mealie
  name: mealie
  namespace: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      volumes:
      - name: mealie-data
        persistentVolumeClaim:
          claimName: mealie-data
      containers:
      - image: ghcr.io/mealie-recipes/mealie:v3.4.0
        name: mealie
        envFrom:
        - secretRef:
            name: mealie-container-credentials
        - configMapRef:
            name: mealie-config
        ports:
        - containerPort: 9000
        volumeMounts:
        - name: mealie-data
          mountPath: /app/data